html{
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

:root {
  --color1: #fafff7;
  --color2: #435170;
  --color3: #106077;
  --color4: #165769;
  --color5: #ddebd4;
  --color6: #14484e;
  --color7: #89bd6c;
  --color8: #c0c0c0;
  --color9: #3f9686;
  --color10: #122727;
}

body{
    font-family: sans-serif; 
    background-color: var(--color1);
    color:var(--color2);
    margin:0;
}

main{
    padding: 1px 0px 20px 0px;
    margin:0 auto;
}

img{
    max-width:100%;
}

/*-----------------------.main-header/Nav Section-------------------------*/

.main-header nav{
  text-align: right;
  padding: 20px 20px 0px 0px;
  letter-spacing: 5px;
}

.main-header nav ul li{
  display: inline;
  margin:35px;
  text-transform: uppercase;
}

.main-header nav ul li a{
  color: var(--color2);
  padding: 10px 25px;
  text-decoration: none;
}

.main-header nav ul li a.current-page{
  background-color:var(--color3);
  padding: 10px 25px;
  border-radius:7px;
  color: var(--color1);
}

.main-header nav ul li a:hover{
  background-color: var(--color4);
  color: var(--color1);
  transition: .2s;
  border-radius:7px;
}

.header-section{
  animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding:60px 0px 0px 0px;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  .header-section h1{
      text-align: left;
      padding: 0px 0px 1px 60px;
      font-size: 35px;
      letter-spacing: 10px;
      text-transform: uppercase;
  }

  .cont-soc{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
  }

  .contact{
    padding:0px 0px 0px 200px;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:10px;
  }

  .contact h2{
    font-size:18px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .contact ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
  }

  .contact li{
    padding:0px 0px 20px 0px;
  }

  .contact li a{
    text-decoration:none;
    color:var(--color2);
  }

  .contact li a:hover{
    color:var(--color7);
  }

  .socials{
    padding:0px 0px 0px 200px;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:10px;
  }

  .socials h2{
    font-size:18px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .socials ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
  }
  
  .socials li{
    display:inline;
    padding:0px 22px 20px 0px;
  }
  

/*-----------------------Footer Section-------------------------*/

footer{
  padding: 250px 0px 20px 0px;
}

footer nav{
  text-align: center;
  padding: 20px 20px 0px 0px;
  letter-spacing: 5px;
}

footer nav ul li{
  display: inline;
  margin:35px;
  text-transform: uppercase;
}

footer nav ul li a{
  color: var(--color2);
  padding: 10px 25px;
  text-decoration: none;
}

footer nav ul li a.current-page{
  background-color:var(--color3);
  padding: 10px 25px;
}

footer nav ul li a:hover{
  background-color: var(--color3);
  color: var(--color1);
  transition: .2s;
  border-radius:7px;
}

.mobile-link{
  display:none;
}



  @media screen and (max-width: 910px) {
  
    .main-nav{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:0 auto;
    }
  
    .main-nav a {
        float: none;
        display: block;
        text-align: center;
    }
  
      footer{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:0 auto;
    }
  
    footer a {
        float: none;
        display: block;
        text-align: center;
      }
  
    .desktop-link{
        display:none;
    }
  
    .mobile-link{
        display:inline;
    }
    }

    @media screen and (max-width: 770px){

      .cont-soc{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        gap:10px;
      }
    }